.green {
  color: green; /* Ustaw kolor na zielony lub inny, który wybierzesz */
}
.red {
  color: red; /* Ustaw kolor na zielony lub inny, który wybierzesz */
}
.brown {
  color: brown; /* Ustaw kolor na zielony lub inny, który wybierzesz */
}
