<mat-card class="details">
  <mat-card-header>
    <mat-card-title>Title: {{note.title|titlecase}}</mat-card-title>
    <mat-card-subtitle>
      Category: {{note.category|uppercase}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="note.category!=='Shopping list'">
    <button mat-button>
      <mat-icon class="brown">description</mat-icon></button> {{note.content}}
  </mat-card-content>
  <mat-card-content *ngIf="note.category==='Shopping list'">
    <button mat-button>
      <mat-icon class="brown">description</mat-icon>
    </button>
    <mat-list>
      <mat-list-item *ngFor="let item of $any(note).Content;index as ind">{{ind+1}}.{{item}}</mat-list-item>
    </mat-list>
    <p *ngIf="!editAmount" (click)="editAmount=true"> Price: {{$any(note).amount |currency: 'PLN':'zł'}}</p>
    <mat-form-field *ngIf = "editAmount" class="example-full-width" #trzeciDiv>
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="$any(note).amount" name="amount" type="number" equired>
      <mat-label> zł</mat-label>
    </mat-form-field>
    <button *ngIf="editAmount" mat-raised-button color="primary" (click)="editAmount=false">Ok</button>
  </mat-card-content>
  <mat-card-content *ngIf="note.time">
    <mat-icon class="red">notification_important</mat-icon>
    Remind: {{note.Data}} at {{note.time}}</mat-card-content>
  <button mat-button (click)="openDialog()"><mat-icon class="brown">notification_important</mat-icon></button>
  <mat-card-content *ngIf="!note.time">
    Created: {{note.Data}}
  </mat-card-content>
  <mat-card-content *ngIf="$any(note).status!==undefined">Status:
    <span *ngIf="getStatus()">
      <button (click)="changeStatus()" mat-button><mat-icon class="green">done_outline</mat-icon></button>
    </span>

    <span *ngIf="!getStatus()">
       <button (click)="changeStatus()" mat-button><mat-icon class="red">close</mat-icon></button>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editSelectedNote()">EDIT</button>
    <button mat-raised-button color="warn" (click)="deleteSelectedNote()">DELETE</button>
  </mat-card-actions>
</mat-card>
